#loginBox {
  min-height: 100vh;
}

a {
  color: #006EB9;
}

a:hover {
  color: #005c99;
}

.btn-success {
  background-color: #006EB9;
  border-color: #005c99;
  font-size: 18px;
}

.btn-success:hover {
  background-color: #007fd4;
  border-color: #0069af;
  font-size: 18px;
}

.form-control {
  border-color: #582E91;
}
