a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 0.85rem;
  display: inline;
}

a:hover {
  color: white;
  font-size: 0.85rem;
  text-decoration: none;
}

.nav-item i {
  margin-right: 0.25rem;
}

.nav-link {
  padding: 0.75rem 1rem !important;
}

.svg-inline--fa {
  color: #582E91;
  font-size: 0.85rem;
  margin-right: 0.25rem;
}